@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Noto+Nastaliq+Urdu:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../src/assets/banner.jpg);
  background-size: cover;
  background-position: center;
}

.head-content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.head-content h1 {
  font-family: "Noto Nastaliq Urdu", serif;
  font-size: 200px;
  margin-top: 80px;
  padding-bottom: 50px;
  color: white;
}

.head-content p {
  font-family: "Aref Ruqaa", serif;
  margin: 50px 40px;
  font-weight: 100;
  line-height: 25px;
}

.head-content button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #215f11;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.head-content span {
  background: #215f11;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.head-content button:hover span {
  width: 100%;
}

.head-content button:hover {
  border: none;
}

/* ANTD menu css styles  */

.ant-menu {
  background-color: #d8ad63;
}
.ant-menu-item {
  list-style: none;

  font-family: "Ubuntu", sans-serif;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  text-decoration: none;
}

.ant-menu-item::before {
  top: 0;
  left: 0;
}

.ant-menu-item::after {
  content: "";
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.ant-menu-item:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.ant-menu-item:hover::after {
  width: 100%;
}

.ant-menu-title-content {
  color: white;
}

.ant-menu-item a:active {
  transform: scale(0.95);
  transition: transform 0.2s ease;
}
/* Styles of TEXTs */
#featuredMenu h1 {
  font-family: "Ubuntu", sans-serif;

  color: #375b3b;
}

.Home span {
  font-family: "Ubuntu", sans-serif;

  color: #375b3b;
}

.Home h2 {
  font-family: "Ubuntu", sans-serif;
}

#firstDivH2 {
  font-family: "Ubuntu", sans-serif;
  color: #4d7c0f;
}

/* Menu of Navigation Styles */

.menu-label {
  color: white;
}

.menu-icon {
  color: white;
}

@media (max-width: 768px) {
  .menu-label {
    color: black !important;
  }

  .menu-icon {
    color: black !important;
  }
}

.menu-container {
  margin: 0 auto;
  padding: 20px;
}

.menu-category {
  text-align: left;
  padding: 20px 0;
}

.menu-item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.menu-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.menu-item-price {
  font-size: 1.2rem;
  color: #d8ad63;
  margin-left: 10px;
}

.menu-item-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.menu-item-description {
  margin-top: 10px;
  font-size: 1rem;
  color: #666;
}
